$break-sm: 600px;

html,body{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background: #0d0f0b;
  color: #fff;
  max-width: 100%;

  &.frnkrok{
    background: #1d0720;
  }
  &.juiced{
    background: #ac2545;
  }

  &.lock{
    overflow: hidden;

    .body{
      transition: transform 500ms;
      transform: scale(0.99);
    }

    &.achievements{
      .achievements-fixed{
        .exit{
          visibility: visible;
        }
        z-index: 2000;
        height: 100%;
        width: 100%;
        overflow: auto;
        animation: fadeIn 1s 1 forwards;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
      }
    }
    &.cv{
      .sidebar-fixed.cv{
        .exit{
          visibility: visible;
        }
        height: 100%;
        overflow: auto;
        margin: 0;
        animation: fadeIn 1s 1 forwards;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
        z-index: 2000;
        transform: translateX(0);
        transition: transform 500ms 400ms;
        .sidebar_content{
          animation: andUp .75s 800ms 1 forwards;
        }
      }
      .body{
        transition: transform 500ms;
        // transform-origin: 50% 0%;
        transform: translateX(-25px);
      }
    }
    &.all{
      .sidebar-fixed.portfolio{
        .exit{
          visibility: visible;
        }
        height: 100%;
        overflow: auto;
        margin: 0;
        animation: fadeIn 1s 1 forwards;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
        z-index: 2000;
        transform: translateX(0);
        transition: transform 500ms 400ms;
        .sidebar_content{
          animation: andUp .75s 800ms 1 forwards;
        }
      }
      .body{
        transition: transform 500ms;
        // transform-origin: 50% 0%;
        transform: translateX(-25px);
      }
    }


    &:after{
      display: block;
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#0d0f0b,0.98);
      z-index: 1002;
      animation: fadeIn 400ms 1 forwards;
    }
    &.lock.cv{
      &:after{
        background: rgba(#0d0f0b,0.65);
      }
    }
  }
}
@keyframes zoomOut {
  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}
// .body-img{
//   background: url(/img/dark_sunset.jpg) 50% 50% no-repeat;
//   background-size: cover;
//   width: 100%;
//   height: 100vh;
//   position: absolute;
//   top: 0;
//   left: 0;
//   opacity: 0.3;
//   animation: fadeIn 1s 1;
//   z-index: -1;
//   &.zoomOut{
//     animation: zoomOut 2s 1 cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
//   }
//
//   @keyframes fadeIn {
//     0% {
//       opacity: 0;
//       filter: grayscale(1);
//     }
//   }
//   /* remove if unused */
//
//   @keyframes strobe {
//     19% {
//       opacity: 0.3;
//     }
//     20%{
//       opacity: 1;
//     }
//     21%{
//       opacity: 0.1;
//     }
//     22%{
//       opacity: 0.3;
//     }
//   }
//   /* end of remove */
// }

.achievements-fixed,.sidebar-fixed{
  position: fixed;
  top: 0;
  width: 95%;
  margin: auto;
  height: 0;
  width: 0;
  overflow: hidden;
  left: 0;

  .exit{
    position: fixed;
    top: 0px;
    right: 10px;
    font-size: 82px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    background: #111;
    line-height: 32px;
    font-family: "Oswald", serif;
    transition: all 200ms;
    z-index: 3000;
    color: #fff;
    text-align: center;
    visibility: hidden;
  }

  &.sidebar-fixed{
    .exit {
      right: auto;
      left: 10px;
      background: #fff;
      color: #222;
    }
    width: 25%;
    max-width: 90%;
    min-width: 325px;
    right: 0;
    background: #efefec;
    background: #111;
    color: #111;
    color: #999;
    left: auto;
    transform: translateX(100%);
    transition: transform 400ms, height 0s 400ms, width 0s 400ms;
    &.portfolio{
      background: #050505;
      color: #fff;
      display: flex;
      // align-content: center;
      .shift-down{
        height: 75px;
        width: 100%;
        display: block;
      }

      .exit{
        background: #111;
        color: #eee;
      }
      .projects-title{
        color: #ddd;
        text-align: left;
        font-weight: 400;
        font-size: 20px;
        font-family: Oswald, serif;
        text-decoration: none;
        padding: 0 0 20px 0;
        display: block;
        text-transform: uppercase;
        &:last-of-type{
          padding-top: 20px;
        }
        &:hover{
          color: #fff;
        }
      }
      .portfolio-list{
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          padding: 0;
          margin: 0;
          font-weight: 400;
        }
        a{
          display: block;
          font-family: Times, "Georgia", serif;
          font-weight: 300;
          text-transform: uppercase;
          color: #c0c0c0;
          letter-spacing: 1.25px;
          text-decoration: none;
          font-size: 16px;
          padding: 4px 0;
          &:hover{
            color: #fff;
          }
        }
      }

    }
    .sidebar_content{
      padding: 15px 30px;
      max-width: 290px;
      margin:auto;
      opacity: 0;
      h1,h2,h3,h4,h5,h6{
        text-align: center;
        font-family: "Oswald", serif;
        text-transform: uppercase;
        color: #eee;
      }
      .btn{
        color:#eee;
        &:hover{
          color: #fff;
        }
      }
      .resume-title{
        font-size: 2.4rem;
        color: #fff;
      }
      .resume-highlights{
        color: #999;
        font-size: 17px;
        font-family: "Georgia", serif;
        list-style: none;
        margin:0;
        padding: 0;
        text-align: left;
        margin-bottom: 50px;

        li{
          padding: 6px 0;
          &:after{
            content: '';
            position: relative;
            display: block;
            border-bottom: 2px dotted #cfcfcf;
            padding: 6px 0;
            width: 20%;
            margin:0;
          }
        }
      }
    }
  }
  // .avatars {
  //   .title {
  //     text-align: center;
  //     font-family: "Oswald", serif;
  //     font-size: 14px;
  //     color: #ccc;
  //     width: 100%;
  //     display: block;
  //     margin: 0;
  //     padding: 0;
  //     position: relative;
  //     bottom: 45px;
  //     font-weight: 400;
  //     text-transform: uppercase;
  //   }
  // }
  // .avatar-swap-box{
  //   width: 100%;
  //   display: flex;
  //   wrap: nowrap;
  //   height: 200px;
  //   align-items: center;
  //   justify-content: center;
  //   margin: 80px 0;
  //
  //   .last,.next{
  //     flex-grow: 1;
  //     text-align: center;
  //     font-size: 36px;
  //     padding: 20px;
  //     cursor: pointer;
  //     box-sizing: border-box;
  //     font-family: "Oswald", serif;
  //     .arrow{
  //       position: relative;
  //       display: inline-block;
  //       transition: transform 240ms;
  //     }
  //
  //     &:hover{
  //       &.last .arrow{
  //         transform: translateX(-10px);
  //       }
  //       &.next .arrow{
  //         transform: translateX(10px);
  //       }
  //       &+.avatar-show-box .avatar-backdrop, &~.avatar-show-box .avatar-backdrop{
  //         background: darken(#35d6c9, 10%);
  //       }
  //     }
  //     &.next:active .arrow ,&.next:focus .arrow{
  //       transform: translateX(20px);
  //     }
  //     &.last:active .arrow,&.last:focus .arrow{
  //       transform: translateX(-20px);
  //     }
  //   }
  //   .last { order: 1 }
  //   .next { order: 3 }
  //   .avatar-show-box{
  //     width: 200px;
  //     text-align: center;
  //     order: 2;
  //     .avatar-backdrop{
  //       background: teal;
  //       transition: background 300ms;
  //       border-radius: 100%;
  //       height: 200px;
  //       width: 200px;
  //       .avatar-is{
  //         max-width: 80%;
  //       }
  //     }
  //   }
  // }
  .achievements {
    text-align: center;
    padding-bottom: 50px;
    .achievements-title{
      text-transform: uppercase;
      font-weight: 400;
      font-size: 3.6rem;
      margin-bottom: 0;
      padding-bottom: 0;
      //
      // font-size: 2rem;
      font-family: "Oswald", serif;
    }
    .achievements-subline, .achievements-desc{
      font-size: 1.5rem;
      margin: 0;
      padding: 10px 12px;
      display: block;
      font-family: "Oswald", serif;
      text-transform: uppercase;
      font-weight: 400;
      color: teal;

      &.achievements-desc{
        color: #777;
        font-size: 0.9rem;
      }
    }
    .scores {
      display: flex;
      width: 100%;
      align-content: center;
      flex-wrap: nowrap;
      max-width: 600px;
      padding: 30px 0;
      margin:auto;
    }
    .achievements-score{
      font-family: "Oswald", serif;
      text-transform: uppercase;
      font-weight: 400;
      color: teal;
      font-size: 0.9rem;
      padding: 10px;
      width: 50%;

      .score-ach{
        display: block;
        font-family: "Oswald", serif;
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
        font-size: 2.35rem;
      }
    }
    .achlist{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 1200px;
      margin: auto;

      .achs{
        min-height: 200px;
        max-width: 200px;
        min-width: 140px;
        width: 30%;
        border-radius: 10px;
        // background: rgba(16,16,16,0.96);
        box-shadow: 0px 1px 2px rgba(2,2,2,0.5);
        padding: 20px;
        margin: 15px;
        opacity: 0.5;
        transition: opacity 300ms, border-color 300ms, transform 300ms;
        cursor: default;
        box-sizing: border-box;
        border: 1px solid transparent;
        position: relative;


        &:hover{
          // transform: translateY(-6px);
          // border: 1px solid #fff;
        }

        &.activated{
          background: #111;

          opacity: 1;
          border: 1px solid darken(gold, 24%);
          // &:before{
          //   position: absolute;
          //   display: block;
          //   width: 30px;
          //   height: 30px;
          //   content: '★';
          //   background: #222;
          //   color: #fff;
          //   top: 5px;
          //   right:5px;
          //   // // padding: 5px;
          //   line-height: 30px;
          //   text-align: center;
          //   border-top-right-radius: 6px;
          //   border-bottom-left-radius: 6px;
          // }
        }
        .title{
          display: block;
          padding: 10px 0;
          font-family: "Oswald", serif;
          font-weight: 400;
          color: teal;
          color: #24E0E0;
        }
        .points{
          font-size: 2rem;
          font-family: "Oswald", serif;
        }
        .toAchieve{
          font-size: 12px;
          padding: 10px;
          font-size: 16px;
          font-family: "Avenir", serif;
          font-weight: 100;
        }
        img{
          max-width: 100%;
          max-height: 100px;
        }
      }
    }
  }
}
.body {
  padding: 10px;
  font-size: 20px;
  // min-height: 3000px;
  font-family: Georgia, Times, serif;
  font-weight: 100;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  position: relative;
  transition: transform 500ms;
  transform-origin: 50% 50%;

}
.body_container{
  width: 100%;
  max-width: 800px;
  margin: auto;
  animation: fadeIntoLight 660ms 65ms 1 forwards;
  opacity: 0;
  @keyframes fadeIntoLight {
    100% {
      opacity: 1;
    }
  }
}
.wrap-overflow{
  overflow: hidden;
  max-width: 100%;

}
.heading-links{
  font-size: 18px;
  font-weight: 400;
  // margin-top: 20px
  text-align: left;
  padding: 20px 0 0 5px;
  color: #888;
  font-family: "Georgia", serif;
  display: block;
  z-index: 2;
  position: fixed;
  transition: transform 400ms;
  top: 0;
  width: 100%;
  // max-width: 300px;
  max-width: 800px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;;
  nav{
    width: 90%;
  }
  .quick-link{
    float: right;
    width: 10%;
    background: transparent;
    text-align: left;
    span{
      padding: 0 4px;
    }
    @media(min-width: 800px) {
      text-align: right;
    }
  }
  &.scroll{
    transform: translateY(-100px);
  }

  a{
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Oswald", serif;
    display: inline-block;
    padding: 5px 10px 5px 5px;
    vertical-align: middle;
    position: relative;
    background: #0d0f0b;
    margin: 0;
    z-index: 3;

    &:hover{
      color: #fff;
    }

    &.active{
      color: #777;
      // cursor: default;
      &:hover{
        color: #7f7f7f;
      }
    }

    &:not(:first-of-type){
      &:before{
        padding: 0;
        content: ">";
        color: #444;
        display: inline-block;
        background: #0d0f0b;
        right: 10px;
        position: relative;
      }
    }
  }
}
.section-group{
  clear: both;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  min-height: 640px;

  @media(max-height: 800px) {
    height: auto;
    padding: 60px 0 125px 0;
  }

  .project-screenshots{
    clear: both;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // padding-top: 45px;
    // background: #141414;
    // .reset-thumbs{
    // }
    .reset-thumbs{
      width: 100%;
      display: block;
    }
    #reset-thumbs{

      display: none;
      opacity: 0;
      animation: fadeIn 1s 1 forwards;
    }
    @media(min-width: 600px){
      text-align: right;
      justify-content: flex-end;

    }
    .thumb {
      display: inline-block;
      margin: -10px 10px;
      transition: transform 425ms cubic-bezier(0.175, 0.885, 0.32, 1.025);

      @media(min-width: 600px) {
        margin: auto -25px;
      }
    }
    .thumb img{
      box-shadow: 0px 2px 3px rgba(0,0,0,0.65);
      // border: 3px solid transparent;
      box-sizing: border-box;
      position: relative;
      max-width: 180px;
      transition: transform 425ms cubic-bezier(0.175, 0.885, 0.32, 1.225), opacity 300ms;
      transform:  translateX(0) scale(0.5);
      transform-origin: 50% 50%;
      z-index: 2;
      opacity: 0.6;
      display: inline-block;
      &:hover{
        transform: translateX(0) scale(1);
        z-index: 4;
        cursor: pointer;
        opacity: 1;
      }
      &.expanded{
        // border-color: #fff;
        transform: translateX(0) scale(2);
        z-index: 3;
        opacity: 1;
      }
      &.expanded:hover{
        z-index: 5;
      }
      @media (min-width: 600px) {
        transform:  translateX(50%) scale(0.5);
        transform-origin: -25% 50%;
        &:hover{
          transform: translateX(12.5%) scale(1);
        }
        &:focus,&:active,&.expanded{
          transform: translateX(-75%) scale(2);
          // cursor: none;
        }
      }
    }
  }

  &.portfolio{
    margin-top: -20px; // not needed if fixed
    height: auto;
  }
  &.section-group-no-min{
    min-height: 0;
  }
  &.pictures{
    // overflow: hidden;
    display: block;
    height: auto;
    padding: 0 20px;
    .headline{
      text-align: left;
    }
    .brief{
      max-width: 500px;
      margin-bottom: 200px;
    }
    img{
      position: relative;
      margin: 100px 0;
      max-width: 125%;
      touch-action: none;
      pointer-events: none; //for now

      @media (min-width: 800px ) {
        max-width: 2000px;
        margin: 150px 0;

      }

      &.max-100{

        margin: 30px 0;
        max-width: 100%;
      }

      &.stagger-left{
        right: 10vw;
      }
      &.stagger-right{
        left: 5vw;
      }
      &.border-big{
        border: 10px solid #fff;
      }
      &.big{
        max-width: 100vw;
      }
      &.rotary-up{
        position:absolute;
        top: 0;
        @media (min-width: 600px) {
          top: -40vh;
        }
      }
    }

  }

  .content{
    width: 100%;
  }



  .content_text{
    z-index: 1;
    position: relative;
    padding: 10px;
  }
  .content_img_box {
    position: relative;
    bottom: 100px;
    width: 90%;
    margin: auto;
    text-align: center;
    max-width: 550px;
    transition: all 800ms;



    @media (min-width: $break-sm) {
      text-align: left;
      width: 100%;
      margin: 0;
    }

    &#key-box{
      margin: auto;
    }
    #key-tune-box{
      height: 0;
      overflow: hidden;
      margin:auto;
      width: 100%;
      text-align: center;
      position: relative;
      opacity: 0;
      transition: opacity 400ms 600ms;

      .exit{
        width: 100%;
        display: block;
        text-align: center;
        position: relative;
        padding: 3px;
        bottom: 6px;
        z-index: 101;
        cursor: pointer;
        color: #eee;
        &:hover{
          color: red;
        }
      }
      #key-tune{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 25px;
        span{
          width: 11.111111111%;
          text-align: center;
          display: inline-block;
          margin:0;
          padding: 0;
          font-family: "Oswald", serif;
          font-size: 14px;
          text-transform: uppercase;
          animation: appear 1s 1;
          @keyframes appear {
            0% {
              opacity: 0;
              transform: translateY(20px);
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
      }
    }

    &.rearrange{
      text-align: center;
      bottom: 20px;

      #key-tune-box{
        height: auto;
        top: -305px;
        opacity: 1;
      }

      .img_handle{
        display: none;
      }
      .content_img{
        // position: relative;
        margin: auto;

      }
    }


    .img_handle{
      position: absolute;
      width: 24px;
      height: 24px;
      display: block;
      background: rgba(254,255,255,0.8);
      top: 200px;
      left: -20px;
      z-index: 1;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      transition: opacity 600ms;
      opacity: 0.5;
      border-radius: 200px;
      border-bottom-right-radius: 200px;
      z-index: 3;
      border: 13px solid rgba(#333,1);

      &:after{
          background: #222;
          position: absolute;
          bottom: 5px;
          height: 14px;
          width: 14px;
          border-radius: 100px;
          display: block;
          content: '';
          left: 5px;
      }

      &:hover{
        opacity: 0.8;
        &+.content_img{
          opacity: 0.55;
        }
      }
      &:focus,&:active{
        opacity: 1;
        &+.content_img.lightbox{
          opacity: 1;
          z-index: 2;
        }
      }
    }
  }
  .content_img{
    max-width: 100%;
    opacity: 0.35;
    transition: opacity 400ms;
    height: auto;
    z-index: 0;
    position: absolute;
    left: 0;
    &#keys{
      z-index: 0 !important;
      pointer-events: none;
    }
    &.activate{
      opacity: 1 !important;
      z-index: 1 !important;
      &#keys{
        pointer-events: auto;
      }
      #d, #dsharp, #e, #f, #fsharp, #g, #gsharp, #a, #asharp, #c, #csharp, #b{

        position: relative;
        cursor: pointer;

        &:hover{

          polygon{
            transition: fill 200ms;
            fill: #3ac4e2;
          }
        }
      }
    }
    &[data-rotation] {
      transition: all 400ms;
    }
    &[data-rotation="90"] {
      filter: hue-rotate(90deg);
    }
    &[data-rotation="180"] {
      filter: hue-rotate(180deg);
    }
    &[data-rotation="270"] {
      filter: hue-rotate(270deg);
    }
    &[data-rotation="360"] {
      filter: hue-rotate(200deg);
    }


  }

  #key-landing{
    transition: opacity 500ms;
    &.activate{
      opacity: 0;
    }
    &.disappear{
      // position: absolute;
      z-index: -1;
      pointer-events: none;
    }
  }

  /* PORTFolio */
  .portfolio-list{
    text-align: right;
    font-family: "Oswald", serif;
    font-weight: 300;
    color: #666;
    font-size: 1.5rem;
    margin: auto;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    height: auto;


    a {
      color: #777;
      transition: color 300ms;
      text-decoration: none;
      display: block;
      font-weight: 400;

      &:hover{
        color: #eee;
        overflow: visible;
        // white-space: normal;

      }
    }
    li {
      padding: 5px 0;
    }

    @media (min-width: 600px) {
      font-size: 11rem;
      a {
        color: #666;
        height: 90px;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
        &:hover{
          padding-bottom: 5.5rem;
        }
      }
    }

  }

}

.projects{
  margin: 120px 0 140px 0;
  // background: #fff;
  height: 50px;
  width: 100%;
  overflow: visible;
  position: relative;
  display: flex;

  .project{
    height: 300px;
    width: 33%;
    background: rgba(#000, 0.6);
    transform: scale(0.85);
    margin: auto;
    display: inline-block;
    transition: transform 200ms;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    &.active{
      transform: scale(1);
    }

    &:hover{
      &:before{
        opacity: 0.4;
      }
    }


    &:before{
      position: absolute;
      height: 100%;
      width: 100%;
      content: '';
      opacity: 0.2;
      z-index: -1;
      transition: opacity 400ms;
    }
    &.pouk{
      &:before{
        background: #fff url(/img/UK-Mascot_Bulldog.png) 50% 50%;
        background-size: cover;
      }
    }
    &.pates-law{
      &:before{
        background: url(/img/vibrant-orlando.jpg) 50% 50%;
        background-size: cover;
      }
    }
    &.juiced{
      &:before{
        background: url(/img/juiced.jpg) 50% 50%;
        background-size: cover;

      }
    }


    .project_content{
      transition: transform 200ms;
      text-align: center;
      display: flex;
      height: 100%;
      align-items: center;
      text-align: center;
      width: 100%;
      .title{
        width: 100%;
        font-family: "Oswald", serif;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

  }
}
.fixed-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  // background: rgba(2,2,2,0.6);

  .achievement-box, .error-box{
    pointer-events: none;
    transform: translateY(100px);
    display: block;
    position: absolute;
    left: 0;
    height: 50px;
    max-width: 100%;
    width: 300px;
    padding-left: 120px;
    //
    padding-left: 60px;
    top:0;
    transition: transform 400ms;

    &.error-box{
      right: 10px;
      left: auto;
      text-align: right;
      width: 99%;
    }

    &.activate{
      transform: translateY(0);
      background: rgba(#0d0f0b,0.6);
    }

    .title{
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-family: 'Avenir';
      font-weight: 100;
      color: #aaa;
      text-transform: uppercase;
      animation: andUp 1s 1;
      @keyframes andUp {
        0% {
          opacity: 0;
          transform: translateY(50px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .achievement, .error{
      font-family: "Oswald", sans-serif;
      font-size: 12px;
      color: #eee;
      animation: fadeIn 3s 1;
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      &.error .name{
        // color: #c92929;
        font-size: 13px;
        animation: flashTeal 4s 2s 2;

      }
      .name{
        color: #fff;
        animation: flashTeal 8s 400ms 1;
        @keyframes flashTeal {
          50% {
            color: #24E0E0;
          }
        }
      }

    }
  }

  .avatar-box{
    background: teal;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    bottom: 20px;

    //
    height: 60px;
    width: 60px;
    bottom: auto;
     top: 10px;
    // background: #121;
    background: transparent;
    right: 5px;
    //
    position: relative;
    text-align: center;
    z-index: 1001;
    transition: background 300ms, transform 400ms, opacity 400ms;
    cursor: pointer;
    opacity: 0.9;

    &:hover{
      // background: darken(#35d6c9, 10%);
      // background: rgba(gold,0.06);
      color: lighten(teal,10%);
      opacity: 1;
    }

    .avatar{
      position: relative;
      top: 15px;

      //
      top : 0px;
      left: 5px;
      font-size: 1.2rem;
      transition: color 200ms;

      transform: scale(0) translateY(200px);
      opacity: 0;
      animation: popIn 1s 1 forwards;

      @keyframes popIn {

        100%{
          transform: scale(1) translateY(0);
          opacity: 1;
        }
      }

      img{
        max-width: 25px;
      }
    }
  }

}
.message-success{
  clear: both;
  text-align: right;
  margin-top: 60px;

  padding-top: 10px;
  position: relative;
  height: 400px;

}
#message-success{
  display: none;
  animation: fadeUp 1s 1 forwards;
  opacity: 0;
  transform: translateY(10px);
  @keyframes fadeUp {
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  &.show{
    display: block;
  }
}
.contact-form{
  clear: both;
  text-align: right;
  // margin-top: 60px;

  padding-top: 10px;
  position: relative;

  @media (min-width: 600px) {
    margin-top: 60px;
  }

  &:before{
    width: 100px;
    content: '';
    display: block;
    border-top: 3px solid gold;
    position: absolute;
    right: 0;
    top: 0;
  }
  .submit-btn{
    cursor: pointer;
    &:focus{
      border-color: lightblue;
    }
    &:active{
      outline: none;
      border-color: green;
    }
  }
  .cancel-btn{
    display: none;
    margin-right: 15px;
    cursor: pointer;
    &.show{
      display: inline-block;
    }
    &:focus,&:hover{
      outline: red solid;
      border-color: red;
    }
  }
  label{
    font-family: "Times", serif;
    letter-spacing: 1.2px;
    font-size: 14px;
    clear: both;
    text-align: right;
    padding: 10px 0;


    div{
      margin-top: 30px;
      padding: 10px 0 10px 0;
      background: rgba(#0d0f0b, 0.5);
      @media (min-width: 600px) {
        background: transparent;
      }
    }

    .form-input{
      display: inline-block;
      padding: 6px;
      color: #333;
      background: #f2f2f2;
      outline: 0;
      border: 0;
      width: 100%;
      max-width: 400px;
      text-align: right;
      font-size: 16px;
      font-family: monospace;;
      border: 3px solid transparent;

      &.error{
        border-color: red;
      }
      &.prepareSending{
        background: #191919;
        border-color: transparent;
        color: #fff;
        &:hover{
          border-color: blue;
        }
      }
    }
  }
}
.footer-nav, .header-nav{
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  z-index: 2;
  position: relative;
  &.header-nav{
    margin-top: 20px;
    font-family: Times, serif;
    letter-spacing: 1.4px;
    // position: absolute;
    // top: 0;
    &.position-absolute{

      @media( min-width: 600px ) {
        position: absolute;
        left: 0;
      }
    }
  }
  a{
    display: inline-block;
    // padding: 0 14px;
    padding: 4px;
    margin: 0 10px;
    color: #ddd;
    text-decoration: none;
    font-family: "Oswald", serif;
    font-size: 15px;
    color: #888;
    font-weight: 400;
    &.active{
      border: 1px solid #eee;
      color: #eee;
    }
    &:hover{
      color: #eee;
    }
  }
}
.footer {
  font-size: 11px;
  color: #444;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 50px;
  z-index: 2;
  position: relative;
}

h1.headline{
    font-size: 5rem;
    @media (min-width: 600px) {
      font-size: 6rem;
    }
}
.headline{
  text-align: center;
  font-family: "Oswald";
  font-weight: 400;
  text-transform: uppercase;
  &.zoomOut{
    animation: zoomOut 2s 1 cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
  }
}
.portfolio-headline.headline{
  text-align: right;
  margin-bottom:0;
  small{
    font-size: 2rem;
    display: block;
  }
}
.subline{
  text-align: center;
}
.tagline{
  text-align: right;
  max-width: 520px;
  float: right;
  color: #eee;
  &.thin{
    max-width: 400px;
  }
}
.btn{
  font-family: "Oswald", serif;
  font-size: 0.9rem;
  color: #ddd;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  cursor: pointer;


  &:hover,&:focus{
    border-color: #fff;
    color:#fff;
  }

  &.btn-border{
    border: 1px solid #eee;
  }
  &.btn-block{
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    &+.btn-block{
      // margin-top: 10px;
      // border-top: 0;
    }


    &:hover{
      background: #fff;
      color: #111;
      border-color: #fff;
    }
  }
  &.btn-block-half{
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    &+.btn-block-half{
      border-left: 0;
    }
  }
  &.submit-btn{
    background: transparent;
    font-size: 1.1rem;
    outline: 0;
    margin: 40px 0 0 0;
  }
}
.frm-robot{
  position: relative;
}
#robot{
  transition: transform 300ms;
  position: absolute;
  height: 80vh;
  left: -20%;
  top: -200px;
  z-index: -1;
  .st0{fill:#EEAA2F;}
  .st1{fill:#ED3E00;}
  .st2{fill:#42A89B;}
  .st3{fill:#FFFFFF;}

  #XMLID_3700_{
    transition: transform 400ms;
    transform-origin: 0% 5%;
  }

  &.comeDown{
    #XMLID_3707_{
      transform-origin: 50%;
      transition: transform 1s;
      transform: scale(1);
    }
  }

  &.chilling{
    animation: swayUp 6s infinite ease-in-out;
    #XMLID_3729_{
      // top red ball
      animation: antennaPulse 3s infinite  linear;
    }
    #XMLID_3694_{
      // left arm
      animation: sway 25s infinite ease-in-out;
    }
    #XMLID_3700_{
      //right arm
      // animation: sway 25s infinite  ease-in-out;
      transform-origin: 10% 0%;
    }
    #XMLID_3733_{
      //body
      // animation: bounce 25s infinite ease-in-out;
    }
    #XMLID_3710_{
      //right eye// animation: close 10s infinite ease-in-out;
    }
    #XMLID_3709_{
      // eye ball  // animation: closeEye 10s infinite ease-in-out;
    }
    #XMLID_3693_{
      // lightenting
      animation: rumble 20s infinite linear, flash 8s infinite ease-in-out;
      transform-origin: 50% 50%;
    }
    #XMLID_3717_{
      //blades on head
      transform-origin: 50% 50%;
      // animation: spin 1s 1 linear;
    }
  }
  &.excited{
    animation: swayUp 3s infinite ease-in-out reverse;
    #XMLID_3694_{ //l arm
      animation: sway 15s infinite ease-in-out;
    }
    #XMLID_3700_{//r arm
      animation: sway 15s infinite  ease-in-out;
    }
    #XMLID_3693_{
      animation: pinkPulse 1s infinite  linear;
    }
    #XMLID_3710_,#XMLID_3713_{
      r: 40;
    }
    #XMLID_3717_{
      //blades on head
      transform-origin: 50% 50%;
      animation: spin 1s 1 linear;
    }
  }

  &.doped {
    transition: transform 400ms 400ms;
    // transform: rotate(180deg);
    animation: swayUp 300ms 600ms infinite ease-in-out reverse;
    #XMLID_3707_{
      // mouth
      transform-origin: 50%;
      transition: transform 1s;
      transform: scale(2);
    }
    #XMLID_3717_{
      //blades on head
      transform-origin: 50% 50%;
      // animation: spin 20s infinite linear;
    }
    #XMLID_3700_{//r arm
      transform: rotateX(180deg);
      transform-origin: 0% 5%;
      transition-duration: 400ms;
    }
  }
  &.frown{
    #XMLID_3707_{
      // mouth
      transform-origin: 50%;
      transition: transform 1s;
      transform: rotateX(180deg) scale(1.5);
    }
  }
  &.working{
    animation: rightRound 3s 5 ease-in;

    #XMLID_3729_{
      animation: working 1s infinite alternate;
    }

    #XMLID_3725_{
      animation: pulse 3.33s infinite  linear;
    }
    #XMLID_3724_{
      animation: pulse 3.33s 333ms infinite  linear;
    }
    #XMLID_3723_{
      animation: pulse 3.33s 666ms infinite  linear;
    }
    #XMLID_3722_{
      animation: pulse 3.33s 999ms infinite  linear;
    }
    #XMLID_3721_{
      animation: pulse 3.33s 1.3s infinite  linear;
    }
    #XMLID_3720_{
      animation: pulse 3.33s 1.66s infinite  linear;
    }
    #XMLID_3719_{
      animation: pulse 3.33s 1.998s infinite  linear;
    }
    #XMLID_3718_{
      animation: pulse 3.33s 2.331s infinite  linear;
    }
    #XMLID_3726_{
      animation: pulse 3.33s 2.62s infinite  linear;
    }
  }
  @keyframes comeDown {
    0%{
      transform: rotate(180deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }
  @keyframes pinkPulse{
    50%{
      fill: pink;
    }
  }
  @keyframes antennaPulse{
    40% {
      fill: #ED3E00;
    }
    50%{
      fill: blue;
    }
    60% {
      fill: #ED3E00;
    }
  }
  @keyframes swayUp {
    20% {
      transform: translate(1px, -5px) rotate(0.2deg);
    }
    80%{
      transform: translate(-1px, 2px) rotate(-0.2deg);
    }
  }
  @keyframes swayUpBackwards {

    20% {
      transform: translate(1px, -5px) rotate(180.2deg);
    }
    80%{
      transform: translate(-1px, 2px) rotate(179.8deg);
    }

  }
  @keyframes rightRound {
    40%{
      transform: rotateY(-10deg) translateY(10px);
    }
    50%{
      transform-origin: 50%;
      transform: rotateY(0deg);
    }
    60%{
      transform: rotateY(10deg) translateY(-5px);
    }
  }
  @keyframes working {
    100% {
      fill: black;
    }
  }
  @keyframes pulse {
    50% {
        opacity: 0
    }
  }
  @keyframes bounce {
    50% {
      transform: translateY(30px);
    }
  }
  @keyframes close {
    46%{
      r: 39;
    }
    50% {
      r: 0;
    }
    55%{
      r: 39;
    }
  }
  @keyframes closeEye {
    46%{
      r: 21;
    }
    50% {
      r: 0;
    }
    55%{
      r: 21;
    }
  }
  @keyframes flash{
    48%{
      fill: #fff;
    }
    50% {
      fill: lighten(gold,10%);
    }
    52%{
     fill: #fff;
    }
    83%{
      fill: #fff;
    }
    85%{
      fill: lighten(gold,10%);
    }
    87%{
      fill: #fff;
    }
  }
  @keyframes rumble {
    16%{
      transform: rotate(1deg) translate(1px, 0px);
    }
    30%{
      transform: rotate(-2deg) translate(-1px, 1px);
    }
    50% {
      transform: rotate(2deg) translate(1px, 0px);

    }
    65%{
      transform: rotate(-2deg) translate(0px, -1px);
    }
  }
  @keyframes sway{
    25%{
      transform: rotate(2deg);
    }
    60%{
      transform: rotate(-2deg);
    }
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
.project-footer-links{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 50px 0;
}

.no-select{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}
