<section class="fixed-footer">
  <div class="avatar-box" onclick="window.JL.achievements.launchScreen(event)">
    <div class="avatar">
      <img src="/img/trophy_big.svg" id="avatar-is-small">
    </div>
  </div>
  <div class="achievement-box" id="achievement-box">
    <h5 class="title">achievement</h5>
    <div class="achievements" id="achievements">

    </div>
  </div>
  <div class="error-box" id="error-box">

  </div>

</section>


<footer class="footer">
  &copy; 2015 Joey Lea. All Rights Reserved.
</footer>
<script src="js/jl.min.js"></script>
</body>
</html>
