<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <script>
       (function() {
           'use strict';
           var htmlEle = document.documentElement;
           htmlEle.className = "js hide-js";
       })();
  </script>
  <link rel="stylesheet" href="/css/1j22f.css">
</head>
<body onclick="window.JL.achievements.removeScreen()" ontouchstart>
