{{> header }}
  <section class="sidebar-fixed cv" onclick="window.JL.achievements.stopClose(event);">
    <a href="#/" class="exit" onclick="window.JL.achievements.removeScreen()">&times;</a>
    <div class="sidebar_content">
      <h4 class="resume-title">Curriculum vitae</h4>
      <h5 class="resume-highlights-title">Highlights</h5>
      <ul class="resume-highlights">
        <li>Fast, independent worker</li>
        <li>3 years lead web developer experience</li>
        <li>A project finisher</li>
        <li>Creative, passionate, and design oriented</li>
        <li>Highly skilled in PHP, JavaScript, HTML5, Sass/CSS, and SQL</li>
      </ul>

      <a href="/resume.pdf" target="_blank" class="btn btn-border" onclick="window.JL.achievements.activateAchievement('SAAVYRECRUITER')">Download CV</a>

    </div>
  </section>
  <section class="sidebar-fixed portfolio">
    <a href="#/" class="exit" onclick="window.JL.achievements.removeScreen()">&times;</a>
    <div class="sidebar_content">
      <a href="/portfolio/" class="projects-title">Portfolio</a>
      <ul class="portfolio-list">
        <a href="/portfolio/jl-v2/">
          <li>JL v2</li>
        </a>
        <a href="/portfolio/frnkrok/">
          <li>Frnkrok</li>
        </a>
        <a href="/portfolio/juiced/">
          <li>Juiced</li>
        </a>
        <a href="/portfolio/pates-law/">
          <li>Pates Law</li>
        </a>
        <a href="/portfolio/promo-only-uk/">
          <li>Promo Only UK / Europe</li>
        </a>
        <a href="/portfolio/web-time-tracker/">
          <li>Web Time Tracker</li>
        </a>
        <a href="/portfolio/timeline/">
          <li>Timeline</li>
        </a>
        <a href="/portfolio/jl-v1/">
          <li>JL v1</li>
        </a>
        <a href="/portfolio/welli/">
          <li>Welli</li>
        </a>
        <a href="/portfolio/the-brick-story/">
          <li>The Brick Story</li>
        </a>
        <a href="/portfolio/anne-marie-bowen/">
          <li>Anne-Marie Bowen, Esq.</li>
        </a>
        <a href="/portfolio/promo-only/">
          <li>Promo Only</li>
        </a>
        <a href="/portfolio/pom/">
          <li>POM - Orders Management</li>
        </a>
        <a href="/portfolio/mobile-beat/">
          <li>Mobile Beat</li>
        </a>
      </ul>
    </div>
  </section>
  <section class="achievements-fixed">
    <a href="#/" class="exit" onclick="window.JL.achievements.removeScreen()">&times;</a>
    <!-- <div class="avatars">
      <div class="avatar-swap-box no-select">
        <div class="last" onclick="window.JL.avatars.swapLeft(event)"><span class="arrow">&larr;</span></div>
        <div class="next" onclick="window.JL.avatars.swapRight(event)"><span class="arrow">&rarr;</span></div>
        <div class="avatar-show-box">
          <div class="avatar-backdrop">
            <img class="avatar-is" id="avatar-is" src="/img/icons/male1.svg">
          </div>
        </div>
      </div>
      <h5 class="title">Choose your avatar</h5>
    </div> -->
    <div class="achievements">
      <h2 class="achievements-title">minigame</h2>
      <div class="achievements-desc">Unlock achievements as you progress throughout the site.</div>
      <div class="scores">
        <div class="achievements-score">SCORE<span id="score-ach" class="score-ach">0</span></div>
        <div class="achievements-score">UNLOCKED<span id="score-box" class="score-ach">0/10</span></div>
      </div>


      <div class="achlist" id="achievements-list">


      </div>

    </div>
  </section>
  <section class="body">
    <div class="body_container" id="animation_body_container">

      {{{contents}}}

    </div>
  </section>
  <!-- <section class="body-img" id="body-img"></section> -->

{{> footer }}
